$point_color : #e5e1e0;

@include pc {
    .content1 {
        background-color: #fff;
        @include size(100%);
        @include pos(relative);
        @include padding($l : $hw_pc);
        @include margin($b : 30px);
        @include font($f : bi);
        .con1_search {
            background-color: $point_color;
            @include size(250px, 30px);
            @include pos(relative, $l : 50%, $trX : -50%);
            @include border();
            @include padding($all : 10px);
            @include margin($all : 30px 0);
            @include font($f : bi);
            &:focus { outline: none;}
        }
        .a_con {
            @include size(75%, 100%);
            @include flex($gx : 30px, $gy : 30px);
            @include margin($l : 20px);
            .hex_box {
                @include size($cw_pc, $ch_pc);
                .hex_card {
                    @include size(100%, 100%);
                    overflow: hidden;
                    background-color: #fff;
                    box-shadow: 10px 10px 0 $point_color;
                    @include padding($all : 20px);
                    @include border($px : 1px, $color : $point_color);
                    $cw_pc : $cw_pc - 40px;
                    > img {
                        @include size($cw_pc, $cw_pc);
                    }
                    > p {
                        @include size($cw_pc,40px);
                        letter-spacing: 2px;
                        @include flex($a : center);
                        @include font($w : 700);
                    }
                }
            }
        }
    }
    .alert {
        @include size(20%, 100vh);
        @include pos(fixed, $t : 0, $r : 0);
        @include flex($fd : column, $a : center,);
        @include border($l : 1px , $color : $point_color);
        @include font($f : bi);
        .a_img {
            @include size(100%, 100%);
            overflow: hidden;
            @include pos(absolute);
            > img {
                min-width: 100%;
                min-height: 100%;
                @include pos(absolute, $t : 50%, $l : 50%, $trX : -50%, $trY : -50%);
            }
        }
        .a_txt {
            @include size(100%, 50%);
            min-height: 280px;
            background-color: #fff;
            z-index : 1;
            @include pos(absolute, $b : 10px);
            @include flex($fd : column);
            @include padding($all : 0 20px, $t : 10px);
            @include font($s : 1.6rem, $lh : 3rem);
            > p {
                @include flex($a : center);
                > em {
                    @include size(24px,24px);
                    @include margin($l : 10px);
                    @include font($s : 1.2rem, $lh : 2rem);
                    display : inline-block;
                    background-image: url(img/heart.png);
                    cursor: pointer;
                    color : $point_color;
                }
                .pick {
                    background-position: right
                }
            }
            .rgb {
                @include size(100%);
                background-color: #fff;
                box-shadow: 10px 10px 10px $point_color;
                @include margin($all : 10px 0);
                @include font($s : 1rem, $lh : 1.5rem);
                @include border($rad : 25px);
                .rgb_c {
                    @include size(0%);
                    white-space: nowrap;
                    @include padding($l : 15px);
                    @include border($rad : 25px);
                    transition: width .5s;
                }
                &_r {background-color: red;}
                &_g {background-color: green;}
                &_b {background-color: blue;}
            }
            > input {
                cursor: pointer;
                align-self: flex-start;
                @include font($s : 1rem, $f : bi);
                @include margin($b : 10px);
                @include border($px : 1px, $color : $point_color, $rad : 2px);
                background-color: rgba($color: #000000, $alpha: 0);
                &:nth-of-type(1) {
                    @include margin($t : 10px)
                }
            }

            .close {
                display: none;
            }
        }
    }
}

@include mobile {
    .content1 {
        @include size(100%);
        @include font($f : bi);
        background-color: #fff;
        @include padding($t : $hh_m);
        @include margin($b : 30px);
        @include pos(relative);
        .con1_search {
            @include size(250px, 30px);
            background-color: $point_color;
            @include pos(relative, $l : 50%, $trX : -50%);
            @include margin($all : 30px 0);
            @include padding($all : 10px);
            @include border();
            @include font($f : bi);
            &:focus { outline: none;}
        }
        .a_con {
            @include size(100%, 100%);
            @include flex($gx : 30px, $gy : 30px);
            @include padding($all : 0 5%);
            @include landscape {
                @include flex($j : center, $gx : 30px, $gy : 30px);
                @include padding($all : 0 2%);
            }
        }
    }
    .alert {
        @include size(90%, 95%);
        min-width: 290px;
        z-index : 100;
        background-color: $point_color;
        @include flex($fd : column, $a : center);
        @include pos(fixed, $t : 50%, $l : 50%, $trX : -50%, $trY : -50%);
        @include border(1px, $color : $point_color);
        @include font($f : bi);
        .a_img {
            @include size(100%, 100%);
            overflow: hidden;
            @include pos(absolute);
            > img {
                min-width: 100%;
                min-height: 100%;
                @include pos(absolute, $t : 50%, $l : 50%, $trX : -50%, $trY : -50%);
            }
        }
        .a_txt {
            @include size(100%, 47.5%);
            min-height: 220px;
            background-color: #fff;
            z-index: 1;
            @include pos(absolute, $b : 0);
            @include flex($fd : column);
            @include padding($all : 5px 15px, $b : 0);
            @include margin($b : 7.5px);

            @include landscape {
                @include size(47.5%, 100%);
                @include pos($t : 0, $r : 0);
                @include margin($r : 7.5px);
            }
            > p {
                @include flex($a : center);
                @include padding($t : 10px);
                @include font($s : 1.6rem, $lh : 2.8rem);
                > em {
                    @include size(24px,24px);
                    @include margin($l : 10px);
                    @include font($s : 1.2rem, $lh : 2rem);
                    display : inline-block;
                    background-image: url(img/heart.png);
                    cursor: pointer;
                    color : $point_color;
                }
                .pick {
                    background-position: right;
                }
            }
            .rgb {
                @include size(100%);
                background-color: #fff;
                @include font($s : .8rem, $lh : 1.2rem);
                @include margin($all : 5px 0);
                @include border($px : 1px, $color : $point_color, $rad : 25px);
                .rgb_c {
                    @include size(0%);
                    white-space: nowrap;
                    @include padding($l : 15px);
                    @include border($rad : 25px);
                }
                &_r {background-color: red;}
                &_g {background-color: green;}
                &_b {background-color: blue;}
            }
            > input {
                align-self: flex-start;
                background-color: rgba($color: #000000, $alpha: 0);
                @include font($s : .8rem, $f : bi);
                @include border(1px, $color : $point_color, $rad : 2px);
                @include padding($all : 0 10px);
                @include margin($b : 10px);
            }
            .a_put1 {
                @include margin($t : 10px);
            }
            .close {
                @include size(22px, 22px);
                @include pos(absolute, $b : 10px, $r : 10px);
                
                > span {
                    @include size(100%, 3px);
                    background-color: $point_color;
                    @include pos(absolute, $t : 50%, $l : 50%, $trX : -50%, $trY : -50%, $tr : rotate(-45deg));
                    &:nth-child(2){
                        @include pos($trX : -50%, $trY : -50%, $tr : rotate(45deg))
                    }
                }
            }
        }
    }
}