$base-color : #fff;
$h_point : linear-gradient(to right, #CCAACB 5%, black 5%);
@include pc {
    .header {
        @include size($w : $hw_pc, $h : 100vh);
        z-index : 100;
        background-color: $base-color;
        @include pos($p : fixed, $t : 0, $l : 0);
        @include flex($fd : column, $a : center);
        @include padding($t : 140px);
        @include font($s : 2rem, $f : bi2);
    }
}

@include mobile {
    .header {
        @include size($w : 100%, $h : ($hh_m/2)); //!!!!
        background-color: $base-color;
        z-index : 100;
        @include flex($fd : column, $a : center);
        transition: transform .25s;
        &.h_E {
            @include pos($trY : -50%);
        }
        .title {
            @include size($w : 100%, $h : ($hh_m / 2));
            @include flex($a : center, $j : center);
            @include font($s : 1.5rem, $f : bi2);
            > span {
                position: absolute;
                width : 32px;
                height : 32px;
                background-color: black;
                border-radius: 100%;
                right : 5%;
                > svg {
                    @include pos(absolute, $t : 50%, $l : 50%, $trX : -50%, $trY : -50%);
                    color : #9d9d9d;
                }
            }

        }
    }
}