$input-height : 48px;
@include pc() {
    .login {
        @include size(100%, 100vh);
        @include font($f : ne, $s : 1.1rem, $lh : 1.5rem, $w : 700);
        @include flex($a : center, $j : center, $fd : column);
        > h1 {
            @include margin($b : 30px);
        }
        .log_box {
            text-align: center;
            @include flex($fd : column);
            .not {
                @include size(100%, 100%);
                min-width: 350px;
                max-width : 490px;
                @include flex($fd : column, $a : center, $gx : 0, $gy : 30px);
                > p {
                    @include font($f : bi, $w : 700, $s : 1.2rem, $c : #FD475D);
                }
                .in_bt {
                    @include size(100%);
                    @include flex($fd : column, $gx : 0px, $gy : 10px);
                    > input {
                        @include font($f : ne, $w : 700, $s : .8rem);
                        @include size(100%, $input-height);
                        @include border(1px, $rad : 5px);
                        @include padding($l : 7px);

                        &::placeholder {
                            @include font($f : ne, $w : 700, $s : .6rem);
                        }
                        &:focus {
                            outline: none;
                        }
                    }
                }
                .act_bt {
                    @include size(100%);
                    @include flex($gx : 0, $gy : 20px, $a : center, $fd : column);
                    @include pos(relative);
                    &::before {
                        content : '';
                        @include size(100%, 1px);
                        @include pos(absolute, $t : 50%, $trX : 0, $trY : -50%);
                        background-color: #9d9d9d;
                    }
                    > input {
                        @include size(100%, $input-height);
                        @include border($rad : 3px,);
                        @include font($s : .8rem, $f : ne, $w : 700, $c : #fff);
                        background-color: rgba($color: #000, $alpha: 1);
                        &:hover {
                            cursor: pointer;
                        }
                    }
                }
                
                > p {
                    @include font($f : ne, $w : 700, $s : 1rem)
                }

            }
            .success {
                @include size(100%, 100%);
                min-width: 350px;
                max-width : 490px;
                @include flex($fd : column,$gx : 0px, $gy : 10px);
                > p {
                    @include font($f : ne, $w : 700, $s : 1.5rem, $lh : 3rem)
                }
                > input {
                    @include size(100%, $input-height);
                    @include border($rad : 3px);
                    @include font($s : .8rem, $f : ne, $w : 700, $c : #fff);
                    background-color: rgba($color: #000, $alpha: 1);
                    &:hover {
                        cursor: pointer;
                    }
                }
            }
            
        }
    }
}

@include mobile() {
    .login {
        @include size($w : 100%, $h : 100vh);
        @include flex($j : center, $a : center, $fd : column, $gx : 0, $gy : 10px);
        @include landscape {
            @include flex();
        }
        > h1 {
            @include font($f : ne, $w : 700, $s : 1.2rem, $lh : 2rem)
        }
        .log_box {
            @include size(100%);
            max-width: 250px;
            @include flex($gx : 0px, $gy : 20px, $a : center,$j : center, $fd : column);
            @include landscape {
                @include size(50%, 100%);
                @include flex($gx : 10px, $gy : 0, $j : center, $a : center);
            }

            .not {
                @include size(100%);
                @include flex($fd : column);
                > p {
                    @include font($f : bi, $w : 700, $s : 1.2rem, $c : #FD475D);
                    @include padding($t : 10px);
                }
                .in_bt {
                    @include flex($gx : 0, $gy : 10px, $fd : column, $a : center);
                    @include padding($b : 10px);
                    > input {
                        @include font($f : ne, $w : 700, $s : .8rem);
                        @include size(100%, $input-height/1.5);
                        @include border(1px, $rad : 5px);
                        @include padding($l : 3px);
                        &::placeholder {
                            @include padding($l : 3px);
                        }
                        &:focus {
                            outline : none;
                        }
                        @include landscape {
                            @include size(200px, 30px);
                        }
                    }
                }
                .act_bt {
                    @include pos(relative);
                    @include flex($gx : 0, $gy : 10px, $j : center, $fd : column);
                    &::before {
                        content : '';
                        @include size(100%, 1px);
                        @include pos(absolute, $t : 50%, $trX : 0, $trY : -50%);
                        background-color: #9d9d9d;
                    }
                    > input {
                        @include size(100%, $input-height/1.5);
                        @include font($f : ne);
                        @include border($rad : 3px,);
                        @include font($s : .8rem, $f : ne, $w : 700, $c : #fff);
                        background-color: rgba($color: #000, $alpha: 1);
                    }
                }

            }
            .success {
                @include size(100%);
                @include flex($fd : column, $a : center,);
                > p {
                    @include font($f : ne, $s : 1.5rem, $w : 700);
                    @include padding($all : 15px 0px);
                }
                > input {
                    @include size(100%, $input-height/1.5);
                    @include font($f : ne);
                    @include border($rad : 3px,);
                    @include font($s : .8rem, $f : ne, $w : 700, $c : #fff);
                    background-color: rgba($color: #000, $alpha: 1);
                }
            }
        }
    }
}