$banner_color : #f9f5f2;
$point_color : #e5e1e0;
@include pc {
    .main_p {
        @include size($w : 100%);
        @include pos(relative);
        @include margin($b : 30px);
        .banner {
            @include size($w : calc(100% - #{$hw_pc}), $h : 500px);
            overflow: hidden;
            background-color: $banner_color;
            @include pos(relative);
            @include flex($a : center, $j : center);
            @include padding($l : $hw_pc);
            @include margin($t : $hh_m);
            > p {
                display : inline-block;
                letter-spacing: 60px;
                white-space: nowrap;
                @include pos(absolute);
                @include font($s : 3rem, $f : bi);
                @include tablet {
                    letter-spacing : 35px;
                    @include font($s : 1.8rem);
                }
            }
            .mc_box {
                @include size($w : 80%, $h : 150px);
                @include flex($j : center, $gx : 30px, $gy : 0);
                @include pos(absolute, $b : 0);
                > li {
                    @include size($w : (100% / 10), $h : 100%);
                }
            }
        }
        > h1 {
            display : inline-block;
            @include pos(relative);
            @include margin($all : 30px 0);
            @include padding($l : $hw_pc);
            @include font($s : 1.5rem, $f : na, $lh : 3rem, $w : 700);
            &::after {
                content : "";
                @include size($w : 20px, $h : 20px);
                @include pos(absolute, $t : 50%, $trY : -50%, $tr : rotate(45deg));
                @include border($t : 3px, $r : 3px);
            }
        }
        > p {
            display : inline-block;
            @include pos(relative);
            @include padding($l : $hw_pc);
            @include margin($b : 20px);
            @include font($w : 700, $f : na);
        }
        .h_con {
            width : calc(100% - #{$hw_pc});
            @include pos(relative);
            @include flex($gx : 30px, $gy : 30px);
            @include padding($l : $hw_pc);
            // @include margin($l : 20px);
            @include tablet {width : 100%}
            .hex_box {
                $cw_pc : $cw_pc - 20px;
                $ch_pc : $ch_pc - 20px;
                @include size($w : $cw_pc, $h : $ch_pc);
                .hex_card {
                    @include size($w : 100%, $h : 100%);
                    overflow: hidden;
                    background-color: #fff;
                    box-shadow: 10px 10px 0 $point_color;
                    @include border($px : 1px, $color : $point_color);
                    @include padding($all : 20px);
                    $cw_pc : $cw_pc - 40px;
                    > img {
                        @include size($w : $cw_pc, $h : $cw_pc);
                    }
                    > p {
                        @include size($w : $cw_pc, $h : 40px);
                        letter-spacing: 2px;
                        @include flex($a: center);
                        @include font($w : 700);
                    }
                }
            }
        }
    }
}

@include mobile {
    .main_p {
        @include size($w : 100%);
        @include pos(relative);
        @include margin($b : 30px);
        @include flex($fd : column);
        @include font($f : bi );
        .banner {
            @include size($w : 100%, $h : 500px);
            overflow: hidden;
            background-color: $banner_color;
            @include pos(relative);
            @include flex($a : center, $j : center);
            // @include margin($t : $hh_m);
            > p {
                display : inline-block;
                letter-spacing: 10px;
                @include pos(absolute);
            }
            .mc_box {
                @include size($w : 80%, $h : 220px);
                @include pos(absolute, $b :0);
                @include flex($j : center, $gx : 20px, $gy : 0);
                > li {
                    width : (100% / 10);
                    height : 100%;
                }
            }
        }
        > h1{
            display : inline-block;
            @include pos(relative);
            @include padding($all : 0 10px);
            @include margin($all : 10px 0);
            @include font($s : 1.1rem, $w : 700, $f : na, $lh : 3rem);
            &::after {
                content : "";
                width : 10px;
                height : 10px;
                @include pos(absolute, $t : 50%, $trY : -50%, $tr : rotate(45deg));
                @include border($t : 3px, $r : 3px);
            }
        }
        > p {
            display : inline-block;
            @include pos(relative);
            @include padding($all : 0 15px);
            @include margin($b : 20px);
            @include font($s : .9rem, $f : na, $w : 700, $lh : 1.5rem);
        }
        .h_con {
            @include size (100%, 100%);
            @include flex($gx : 30px, $gy : 30px);
            @include padding($all : 0 5%);
        }
    }
    // content1 적용
    .hex_box {
        @include size($w : calc(50% - 15px), $h : (100% / 3));
        @include landscape {
            @include size($w : calc(100% / 3 - 30px), $h : (100% / 3));
        }
        .hex_card {
            @include size(100%, 100%);
            overflow: hidden;
            background-color: #fff;
            box-shadow: 6px 6px 0 $point_color;
            @include border ($px : 1px, $color : $point_color );
            @include padding ($all : 8px);
            > img {
                @include size(100%, 100%);
            }
            > p {
                @include size(100%, 40px);
                letter-spacing: 2px;
                @include flex($a : center);
                @include font($s : .9rem, $w : 700, $f : bi);
            }
        }
    }
}
