@include pc {
    .h_box {
        @include flex($fd : column);
        @include margin($t : 30px);

        > input {
            @include size($w : $hw_pc - 10px, $h : 30px);
            background-color: #000;
            cursor: pointer;
            transition: all .25s;
            @include font($c : #fff, $ca : .5, $s : 1.1rem, $f : bi);
            @include border();
            @include margin($b : 20px);
            &:hover {
                @include font($c : #fff, $ca : .8);
            }
            &.h_E{
                color : $base-color;
                background: $h_point;
            }
        }
    }
}

@include mobile() {
    .menu {
        @include size(100%, 50px);
        @include pos(fixed, $b : 0, $l : 0);
        @include flex($a : center, $j : center);
        z-index: 100;
        .h_box {
            @include size($w : 100%, $h : ($hh_m / 2));
            @include flex($a : center, $j : center, $gx : 10px, $gy : 0px);
            flex-wrap: nowrap;
            > input {
                @include size($w : 95px, $h : 25px);
                background-color: #000;
                cursor: pointer;
                transition: all .25s;
                @include font($s : .9rem, $f : bi, $c : #fff, $ca : .5);
                @include border();
                &.h_E {
                    color : $base-color;
                    background: $h_point;
                }
                @include fold {
                    @include size($w : 80px, $h : 23px);
                    @include font($s : .8rem, $f : bi, $c : #fff, $ca : .5);
                }
            }
        }
    }
    
}