@include pc {
    .h_box {
        @include flex($fd : column);
        @include margin($t : 30px);

        > input {
            @include size($w : $hw_pc - 10px, $h : 30px);
            background-color: #000;
            cursor: pointer;
            transition: all .25s;
            @include font($c : #fff, $ca : .5, $s : 1.1rem, $f : bi);
            @include border();
            @include margin($b : 20px);
            &:hover {
                @include font($c : #fff, $ca : .8);
            }
            &.h_E{
                color : $base-color;
                background: $h_point;
            }
        }
    }
}

@include mobile() {
    .menu {
        @include size(100%, $hh_m);
        @include pos(fixed, $b : 0, $l : 0);
        @include flex($a : center, $j : center);
        z-index: 100;
        .h_box {
            background-color: #f9f5f2;
            @include padding($all : 0 20px);
            @include size($w : 100%, $h : 100%);
            @include flex($a : center, $gx : 12px, $gy : 0px);
            border :  {
                top-left-radius : 5px;
                top-right-radius: 5px;
            }
            flex-wrap: nowrap;
            > input {
                @include size($w : calc(100% / 4 - 9px), $h : 25px);
                background-color: #000;
                cursor: pointer;
                transition: all .25s;
                @include font($s : .6rem, $f : bi, $c : #fff, $ca : .5);
                @include border();
                &.h_E {
                    color : $base-color;
                    background: $h_point;
                }
                @include fold {
                    @include size($w : 80px, $h : 23px);
                    @include font($s : .8rem, $f : bi, $c : #fff, $ca : .5);
                }
            }
        }
    }
    
}